<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <!-- Add the private NuGet package source for this solution -->
        <add key="nexus.silkroad.com" value="https://nexus.silkroad.com/repository/nuget-group/" />
    </packageSources>
    <activePackageSource>
        <!-- this tells that all of them are active -->
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <packageSourceCredentials>
        <nexus.silkroad.com>
            <add key="Username" value="Automation" />
            <add key="ClearTextPassword" value="A44Ym#zbwRm6" />
        </nexus.silkroad.com>
    </packageSourceCredentials>
</configuration>
